<div class="container-fluid bg-white">
  <h2 data-aos='fade-up' data-aos-duration='400' data-aos-once='true' class="header text-center blue">LES ACCOMPAGNEMENTS <b class="blue">GO</b> <b class="yellow">SIMPLE !</b></h2>
  <h4 data-aos='fade-up' data-aos-duration='400' data-aos-once='true' class="text-center blue mb-5">Conseil - Accompagnement - Coaching</h4>
  <div data-aos='fade-right' data-aos-duration='400' data-aos-delay='200' data-aos-once='true' id="myTab">
    <ul  class="nav nav-pills mb-5 ">
      <li class="active">
        <a  href="#1b" data-toggle="tab">Construire mon projet d'avenir</a>
      </li>
      <li><a href="#2b" data-toggle="tab">Rechercher un emploi</a>
      </li>
      <li><a href="#3b" data-toggle="tab">Préparer mes dossiers de candidature</a>
      </li>
      <li><a href="#4b" data-toggle="tab">Entretien ponctuel</a>
      </li>
    </ul>

    <div class="tab-content clearfix">
      <div data-aos='fade-right' data-aos-duration='400' data-aos-delay='400' data-aos-once='true'class="tab-pane active accompagnement-sous-partie-first" id="1b">
        <h3 class="sous-titre blue">Construire mon projet d'avenir</h3>
        <div class="row equal">
          <div class="col-xs-12 col-md-6">
            <h4 class="sous-sous-titre">Pour les lycéens, étudiants et adultes </h4>
            <p>Pour me projeter sur mon avenir et faire de bons choix en phase avec mes motivations et mes aspirations, il est nécessaire de bien me connaitre :</p>
            <ul>
              <li>Mes valeurs qui constituent le socle de mes choix de vie.</li>
              <li>Bilan de mes expériences pour faire émerger mes compétences, mes talents et mes points forts.  </li>
              <li>Comment suis-je perçu par mon entourage ?</li>
              <li>Ma personnalité.</li>
              <li>Mes intérêts professionnels.</li>
              <li>Recherche de métiers. </li>
              <li>Elaboration de mon projet d’avenir en phase avec ma personnalité.</li>
              <li>Choix de mon parcours d’orientation d’études, de filières ou de spécialisation. </li>
            </ul>
             <p class="citation text-center my-5 ">« <em>Avance sur ta route car elle n’existe que par ta marche</em> » - St Augustin</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= image_tag "friends.jpg", class:"accompagnement-image d-flex justify-content-center align-items-center" %>

          </div>
        </div>
      </div>
      <div class="tab-pane" id="2b">
        <div class="accompagnement-sous-partie">
          <h3 class="sous-titre blue">Rechercher un emploi, un stage de fin d’études ou une mission d’apprentissage</h3>
          <h4 class="sous-sous-titre">Pour les étudiants et les adultes</h4>
          <ul>
            <li>Construction de mon projet professionnel.</li>
            <li>Mise en place d’une méthodologie et d’un plan d’action pour mes recherches.</li>
            <li>Elaboration de mon CV et de mes lettres de motivation afin qu’ils soient efficaces tout en reflétant ma personnalité. </li>
            <li>Techniques d’expression orale.</li>
            <li>Simulation et techniques d’entretien pour gagner en confiance et « oser ».</li>
            <li>Aide à l’élaboration de mon « pitch » pour présenter le meilleur de moi-même en quelques minutes et être « unique ».</li>
            <li>Techniques du réseau.</li>
            <li>Ma présence, ma visibilité et ma réputation sur les réseaux sociaux.</li>
            <li>Suivi du plan d’action et retours d’expérience.</li>
          </ul>
          <p class="citation text-center my-5">« <em>Ce n’est pas parce que les choses sont difficiles que nous n’osons pas , mais parce que nous  n’osons pas qu’elles sont difficiles</em> » - Sénèque</p>
        </div>
      </div>
      <div class="tab-pane" id="3b">
        <div class="accompagnement-sous-partie">
          <h3 class="sous-titre blue">Préparer mes dossiers de candidature et mes oraux de motivation en cours de scolarité, post-bac, post-prépa, admission parallèle</h3>
          <h4 class="sous-sous-titre">Pour les lycéens et les étudiants</h4>
          <ul>
            <li>Construction de mon projet professionnel.</li>
            <li>Elaboration de mon CV et de mes lettres de motivation afin qu’ils soient efficaces tout en reflétant ma personnalité.</li>
            <li>Techniques d’expression orale.</li>
            <li>Simulation d’entretien et techniques d’entretien pour m’aider à gagner en confiance et « oser » pour faire la différence.</li>
            <li>Aide à l’élaboration de mon « pitch » pour présenter le meilleur de moi-même en quelques minutes et être « unique ».</li>
            <li>Accompagnement sur le site Parcoursup.</li>
          </ul>
          <p class="citation text-center my-5">« <em>Mes meilleures improvisation sont celles que j’ai le plus longuement préparées</em> » - Churchill</p>
        </div>
      </div>
      <div class="tab-pane" id="4b">
        <div class="accompagnement-sous-partie">
          <h3 class="sous-titre blue">Entretien ponctuel 2H</h3>
          <h4 class="sous-sous-titre">Pour les étudiants et les adultes à tout moment de leurs études ou de leurs carrières</h4>
          <div class="padding text-center m-0">
            <p>Je me pose des questions...</p>
            <p>Je doute...</p>
            <p>Mon projet n’est pas clair...</p>
            <p>J’ai du mal à avancer...</p>
            <p>Je suis bloqué dans mes projets...</p>
          </div>
          <p>Et donc je souhaite des conseils d’une professionnelle pendant 2 heures afin d’avoir à l’issue de mon entretien une meilleure visibilité sur l’avenir et une ébauche de plan d’action</p>
          <p class="citation text-center my-5">« <em>Il n’est pas de vent favorable pour celui qui ne sait où il va</em> » - Sénèque</p>
        </div>
      </div>
    </div>
  </div>
</div>
