<div class="container-fluid bg-white">
  <div class="sous-container">
    <h2 data-aos='fade-up' data-aos-duration='400' data-aos-once='true' class="header text-center blue">CONTACTEZ <span class="yellow">MOI !</span></h2>
    <div data-aos='fade-right' data-aos-duration='400' data-aos-delay='200' data-aos-once='true'>
      <p>Je vous propose un accompagnement avec  de l’écoute et du  discernement pour vous aider à trouver  dans la confiance  les clefs de vos interrogations.</p>
      <div class="my-5 card margin-mobile bg-blue d-flex flex-column align-items-center justify-content-center text-white">
        <p><b class="blue">GO SIMPLE !</b></p>
        <p><b>Isabelle Stevenson</b></p>
        <p><b>15 Passage Lambard</b></p>
        <p><b>76130 MT ST AIGNAN</b></p>
        <p><b class="blue">06 58 47 10 46</b></p>
      </div>
      <p class="citation text-center mb-5">« <em>N'attends pas que les évènements arrivent comme tu le souhaites. Décide de vouloir ce qui t’arrive et tu seras heureux</em> » - Epictète</p>
    </div>
  </div>
</div>
<div class=banner-bottom>
</div>

