<div class="footer">
  <div class="footer-copyright text-center">
    Ce site a été fait avec <i class="fa fa-heart"></i> par <%= link_to "Nicolas Vandenbussche", "https://www.linkedin.com/in/nicolas-vandenbussche-26129244/", target: :blank  %>
  </div>
</div>
