<div class="footer" style="background-image: linear-gradient(-225deg, rgba(250,250,250,0.2) 0%, rgba(250,250,250,0.2) 50%), url(<%= image_path "cover.jpg" %>);">
  <div class="actus">
    <%= link_to "Voir mes actualités", "/", class:"btn btn-primary"  %>
  </div>
  <div class="footer-copyright text-center">
    <p>Ce site a été fait avec <i class="fa fa-heart"></i> par <%= link_to "Nicolas Vandenbussche", "https://www.linkedin.com/in/nicolas-vandenbussche-26129244/", target: :blank  %></p>
  </div>
</div>
