<div class="qui-suis-je container-fluid bg-yellow">
  <h2 data-aos='fade-up' data-aos-duration='800' data-aos-once='true' class="header text-center blue">QUI SUIS-JE ?</h2>
  <div class="row equal">
    <div data-aos='fade-right' data-aos-duration='800' data-aos-delay='400' data-aos-once='true' class="col-xs-12 col-md-4 align-content-center">
      <div class="resume d-flex flex-column align-items-center padding text-center mb-5">
        <%= image_tag "isabelle.jpg", class:"circle" %>
        <p class="blue"><b>Isabelle Stevenson</b></p>
        <p><em>Certifiée outil personnalité MBTI et
        Outil Interêts Professionnels Strong </em></p>
        <p><em>Diplômée Skema Lille</em></p>
        <p><%= link_to "https://www.linkedin.com/in/isabelle-stevenson-a7a2642a/", target: :blank do %>
          <i class="fab fa-linkedin"></i>
        <% end %>
        </p>
      </div>
    </div>
    <div data-aos='fade-right' data-aos-duration='800' data-aos-delay='800' data-aos-once='true' class="col-xs-12 col-md-8">
      <div class="speech-bubble padding bg-white mb-5">
        <p><i class="fas fa-quote-left mr-5 blue" style="font-size: 35px"></i>Après 10 ans en tant que Conseil en Marketing et en Communication dans de grands groupes, j’ai souhaité être plus en lien avec mes valeurs et donner plus de sens à mon travail en m’orientant sur la formation et le Conseil en Développement Personnel.</p>
        <p>J’ai commencé par accompagner pendant 5 ans des enfants de maternelle et des collégiens en difficulté d’apprentissage avec une pédagogie personnalisée et créative, la méthode Montessori que j’ai suivie pendant mes premières années d’apprentissage. </p>
        <p>Puis, j’ai été Conseillère en orientation Carrière pendant 9 ans au sein des 4 écoles de commerce de Rouen Business School. Dans ce cadre j’ai réalisé plus de 1000 entretiens individuels avec des étudiants et je les ai guidés dans la construction de leur projet professionnel en phase avec leur  personnalité et leur motivation. Je les ai conseillés aussi en tant que professeur en leur donnant des cours sur les outils de communication  (cv-lettres de motivation- techniques d’entretien –speed recruiting -technique du net working ) afin que leur candidature soit «  unique » et révélatrice de leurs talents  J’ai aussi participé en tant que jury en binôme avec des professionnels à plus de 60 journées d’ entretiens de motivation. </p>
        <p>Je poursuis mon métier, à présent, avec toujours autant de passion en coachant des lycéens, des étudiants, de jeunes adultes et des adultes expérimentés afin de cheminer avec eux sur la construction de leur projet d’ avenir d’ une manière proactive, participative et constructive.</p>
        <p>Je suis aussi à leur disposition des étudiants et des adultes à tout moment de leur carrière pour être à leur écoute dans leur questionnement ou leur doute d’une manière plus ponctuelle avec notamment des entretiens de 2H qui  les aideront à y voir plus clair et à bâtir d’ores et déjà l’ébauche d’ un plan d’action.</p>
        <p>« <em>Deviens ce que tu es</em> » est la devise qui me tient à cœur dans mon métier de Conseillère en Développement Personnel <b class="blue">GO </b><b class="yellow">SIMPLE !</b><i class="fas fa-quote-right ml-5 blue" style="font-size: 35px"></i></p>
      </div>
    </div>
  </div>
</div>
